<div id="homebanner" class="center hero-unit">
  <h1>Making conferences a little bit comfier</h1>

  <h2>
	Letting you deliver a richer experience to your attendees during your conference.
  </h2>

  <!--%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %-->
</div>