<%= form_for @map , :html => {:multipart => true}  do |f| %>
  <% if @map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@map.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
      <% @map.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.file_field :map %>
  </div>
	<p>
	  <%= f.label :remote_map_url, "or image URL" %><br />
	  <%= f.text_field :remote_map_url %>
	</p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
