<h1>Listing sessions</h1>

<table>
  <tr>
    <th>Room</th>
    <th>Conference</th>
    <th>Name</th>
    <th>Chair</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sessions.each do |session| %>
  <tr>
    <td><%= session.room_id %></td>
    <td><%= session.conference_id %></td>
    <td><%= session.name %></td>
    <td><%= session.chair %></td>
    <td><%= link_to 'Show', session %></td>
    <td><%= link_to 'Edit', edit_session_path(session) %></td>
    <td><%= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Session', new_session_path %>
