<p id="notice"><%= notice %></p>

<p>
  <b>Room:</b>
  <%= @session.room_id %>
</p>

<p>
  <b>Conference:</b>
  <%= @session.conference_id %>
</p>

<p>
  <b>Name:</b>
  <%= @session.name %>
</p>

<p>
  <b>Chair:</b>
  <%= @session.chair %>
</p>


<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
