<%= form_for(@welcome_session) do |f| %>
  <% if @welcome_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@welcome_session.errors.count, "error") %> prohibited this welcome_session from being saved:</h2>

      <ul>
      <% @welcome_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :speaker_id %><br />
    <%= f.number_field :speaker_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
