<h1>Listing welcome_sessions</h1>

<table>
  <tr>
    <th>Speaker</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @welcome_sessions.each do |welcome_session| %>
  <tr>
    <td><%= welcome_session.speaker_id %></td>
    <td><%= link_to 'Show', welcome_session %></td>
    <td><%= link_to 'Edit', edit_welcome_session_path(welcome_session) %></td>
    <td><%= link_to 'Destroy', welcome_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Welcome session', new_welcome_session_path %>
