<p id="notice"><%= notice %></p>

<p>
  <b>Speaker:</b>
  <%= @welcome_session.speaker_id %>
</p>


<%= link_to 'Edit', edit_welcome_session_path(@welcome_session) %> |
<%= link_to 'Back', welcome_sessions_path %>
