<h1>Listing events</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Local</th>
    <th>Type</th>
    <th>Start</th>
    <th>End</th>
	<th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td><%= event.local %></td>
    <td><%= event.type %></td>
    <td><%= event.start_at %></td>
    <td><%= event.end_at %></td>
	<td><%= event.notes %></td>
    <td><%= link_to 'Show', admin_conference_event_url(@conference, event) %></td>
    <td><%= link_to 'Edit', edit_admin_conference_event_url(@conference, event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_admin_conference_event_path %> <br/>
<%= link_to 'Back', admin_conference_url(params[:conference_id]) %>
