<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :capacity %><br />
    <%= f.number_field :capacity %>
  </div>
	<p>
	  <%= f.file_field :map %>
	</p>
	<p>
	  <%= f.label :remote_map_url, "or image URL" %><br />
	  <%= f.text_field :remote_map_url %>
	</p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
