<h1>Sessions</h1>

<table>
  <tr>
	<th>Name</th>
	<th>Chair</th>
    <th>Room</th>
	<th>Start</th>
	<th>End</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sessions.each do |session| %>
  <tr>
	<td><%= session.name %></td>
	<td><%= session.chair %></td>
    <td><%= session.room %></td>
	<td><%= session.start_at %></td>
	<td><%= session.end_at %></td>
    <td><%= link_to 'Show', admin_conference_session_path(params[:conference_id],session) %></td>
    <td><%= link_to 'Edit', edit_admin_conference_session_path(params[:conference_id],session) %></td>
    <td><%= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Session', new_admin_conference_session_path(params[:conference_id])	 %>   <br/>
<%= link_to 'Back', admin_conference_path(params[:conference_id])	 %>
