
<session>

  <div class="container">
	<div id="dashheader" class="hero-unit">
	  <h1><%= @session.name %></h1>
	  <p>
		<span class='label'>Room</span>
		<%= @session.room_id %>
	  </p>

	  <p>
		<span class='label'>Chair</span>
		<%= @session.chair %>
	  </p>
	</div>
  </div>

  <%= link_to 'Edit', edit_session_path(@session) %> |
  <%= link_to 'Back', sessions_path %>

  <h1>Listing presentations</h1>

  <table>
	<tr>
	  <th>Title</th>
	  <th>Article</th>
	  <th>Duration</th>
	  <th>Start</th>
	  <th>End</th>
	  <th></th>
	  <th></th>
	  <th></th>
	</tr>

	<% @session.presentations.each do |presentation| %>
		<tr>
		  <td><%= presentation.title %></td>
		  <td><%= presentation.article %></td>
		  <td><%= presentation.duration %></td>
		  <td><%= presentation.start_at %></td>
		  <td><%= presentation.end_at %></td>
		  <td><%= link_to 'Show', presentation %></td>
		  <td><%= link_to 'Edit', edit_presentation_path(presentation) %></td>
		  <td><%= link_to 'Destroy', presentation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
  </table>

  <br />

  <%= link_to 'New Presentation', new_presentation_path %>

</session>
