<h1>Listing presentations</h1>

<table>
  <tr>
	<th>ID</th>
    <th>Session</th>
    <th>Title</th>
    <th>Article</th>
    <th>Duration</th>
    <th>Start</th>
    <th>End</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @presentations.each do |presentation| %>
  <tr>
	<td><%= presentation.id %></td>
    <td><%= presentation.session_id %></td>
    <td><%= presentation.title %></td>
    <td><%= presentation.article %></td>
    <td><%= presentation.duration %></td>
    <td><%= presentation.start_at %></td>
    <td><%= presentation.end_at %></td>
    <td><%= link_to 'Show', presentation %></td>
    <td><%= link_to 'Edit', edit_presentation_path(presentation) %></td>
    <td><%= link_to 'Destroy', presentation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Presentation', new_presentation_path %>
