<p id="notice"><%= notice %></p>

<p>
  <b>Session:</b>
  <%= @presentation.session_id %>
</p>

<p>
  <b>Title:</b>
  <%= @presentation.title %>
</p>

<p>
  <b>Article:</b>
  <%= @presentation.article %>
</p>

<p>
  <b>Authors:</b>
  <%= @presentation.authors %>
</p>

<p>
  <b>Room Name</b>
  <%= @presentation.room_name %>
</p>

<p>
  <b>Room Map</b>
  <%= @presentation.room_map %>
</p>

<p>
  <b>Start:</b>
  <%= @presentation.start_at %>
</p>

<p>
  <b>End:</b>
  <%= @presentation.end_at %>
</p>


<%= link_to 'Edit', edit_presentation_path(@presentation) %> |
<%= link_to 'Back', presentations_path %>
