<% @page_title = "Dashboard"%>


  <dashboard>
	<div class="container">
	  <div id="dashheader" class="center hero-unit">
		<div class="banner"> <h1>Dashboard</h1> </div>
		<h2 id="dashboard_salut" class="identity"> Welcome, <span><%= @member.name %></span></h2>
	  </div>
	</div>

	<div class="container">
	  <div class="center hero-unit">
		<h2>Conferences</h2>

		  <% @member.conferences.each do |conference| %>
			  <div><%= link_to(conference.name, admin_conference_path(conference))%></div>
		  <% end %>

		<hr/>

		<h2>Organization</h2>
		<div><%= link_to('Members', admin_org_members_url)%></div>
	  </div>
	</div>
  </dashboard>