<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @map.name %>
</p>

<p>
  <b>Url:</b>
  <!%= image_tag @map.url_url(:thumb) %-->
  <%=  @map.map                               %>
</p>
                 <div> <%= image_tag @map.map %></div>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
