<h1>Listing authors</h1>

<table>
  <tr>
    <th>User</th>
    <th>Presentation</th>
	<th>Homepage</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @authors.each do |author| %>
  <tr>
    <td><%= author.user_id %></td>
    <td><%= author.presentation_id %></td>
	<td><%= author.homepage %></td>
    <td><%= link_to 'Show', author %></td>
    <td><%= link_to 'Edit', edit_author_path(author) %></td>
    <td><%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Author', new_author_path %>
