<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @author.user_id %>,
  <%= @user.name %>
</p>

<p>
  <b>Presentation:</b>
  <%= @author.presentation_id %>
</p>


<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
