<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>
  
    <%= f.label :firstName %>
    <%= f.text_field :firstName %>
  
    <%= f.label :lastName %>
    <%= f.text_field :lastName %>
 
    <%= f.label :email %>
    <%= f.text_field :email %>


    <%= f.label :password %>
    <%= f.password_field :password %>
 


    <%= f.label :institution_id %>
    <%= f.number_field :institution_id %>

    <%= f.label :photo %>
    <%= f.text_field :photo %>

    <%= f.label :telephone %>
    <%= f.number_field :telephone %>

    <%= f.label :birthDate %>
    <%= f.date_select :birthDate %>



    <%= f.submit %>
<% end %>
