<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Telephone</th>
    <th>Birthdate</th>
    <th>Institution</th>
    <th>Photo</th>
    <th>Password</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.telephone %></td>
    <td><%= user.birthDate %></td>
    <td><%= user.institution_id %></td>
    <td><%= user.photo %></td>
    <td><%= user.password %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
