<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<p>
  <b>First Name:</b>
  <%= @user.firstName %>
</p>

<p>
  <b>Last Name:</b>
  <%= @user.lastName %>
</p>

<p>
  <b>Telephone:</b>
  <%= @user.telephone %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @user.birthDate %>
</p>

<p>
  <b>Institution:</b>
  <% if @user.affiliated? %>
  <%= @user.affiliation %>
  <% else %>
  No affiliation
  <% end %>
</p>


<p>
  <b>Photo:</b>
  <%= @user.photo %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
