<%= form_for(@conference) do |f| %>
  <% if @conference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conference.errors.count, "error") %> prohibited this conference from being saved:</h2>

      <ul>
      <% @conference.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :local %><br />
    <%= f.text_field :local %>
  </div>
	<div class="field">
	  <%= f.file_field :avatar %>
	</div>
	<p>
	  <%= f.label :remote_avatar_url, "or image URL" %><br />
	  <%= f.text_field :remote_avatar_url %>
	</p>
  <div class="field">
    <%= f.label :conf_date %><br />
    <%= f.date_select :conf_date %>
  </div>
	<div class="field">
	  <%= f.label :hashtag %><br />
	  <%= f.text_field :hashtag %>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
