<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @conference.name %>
</p>

<p>
  <b>Description:</b>
  <%= @conference.description %>
</p>


<p>
  <b>Hashtag:</b>
  <%= @conference.hashtag %>
</p>


<p>
  <b>Local:</b>
  <%= @conference.local %>
</p>

<p>
  <b>Avatar:</b>
  <%= @conference.avatar %>
</p>

<p>
  <b>Conf date:</b>
  <%= @conference.conf_date %>
</p>


<%= link_to 'Edit', edit_conference_path(@conference) %> |
<%= link_to 'Back', conferences_path %>
