<h1>Listing conferences</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Local</th>
    <th>Avatar</th>
    <th>Conf date</th>
    <th></th>
  </tr>

<% @conferences.each do |conference| %>
  <tr>
    <td><%= conference.name %></td>
    <td><%= conference.description %></td>
    <td><%= conference.local %></td>
    <td><%= conference.avatar %></td>
    <td><%= conference.conf_date %></td>
    <td>
	  <ul>
		<li><%= link_to 'Show', conference, class: 'option' %></li>
		<li><%= link_to 'Edit', edit_conference_path(conference), class: 'option' %></li>
		<li> <%= link_to 'Destroy', conference, method: :delete, data: { confirm: 'Are you sure?' } %></li>
	  </ul>
	</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Conference', new_conference_path %>
