
<conference>

  <info class="container">
	<div class="center hero-unit">
	  <h1><%= @conference.name %></h1>

	  <div id="firstcolumn" class="column">
		<avatar><!%= image_tag @conference.avatar.to_s.va %></avatar>
		<p><span class=label>Description</span><%= @conference.description %></p>
	  </div>
	  <div id="secondcolumn" class="column">

		<p><span class=label>Local</span><%= @conference.local %></p>

		<p><span class=label>Start at</span><%= @conference.start_at %></p>
		<p><span class=label>End at</span><%= @conference.end_at %></p>

	  </div>
	  <%= link_to 'Edit', edit_admin_conference_path(@conference), :class => 'options' %>
	</div>
  </info>

  <manage class="container">
  <div class="center hero-unit">
	<h2>Manage</h2>
	<div><%= link_to 'Attendees', admin_conference_attendees_url(@conference) %></div>
	<div><%= link_to 'Sessions' , admin_conference_sessions_url(@conference) %></div>
	<div><%= link_to 'Events' , admin_conference_events_url(@conference) %></div>
	<div><%= link_to 'Maps' , admin_conference_maps_url(@conference) %></div>
  </div>
</manage>

  <manage class="container">
	<div class="hero-unit">
	  <h2>Import</h2>
	  <import>
		<%= form_tag import_admin_conference_url(@conference),  multipart: true do %>
			<%= file_field_tag :file %>
			<%= submit_tag 'Import' %>
		<% end %>
	  </import>
	</div>
  </manage>
</conference>