<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b>
  <%= @schedule.id %>
</p>

<p>
  <b>Sessions:</b>
  <%= @schedule.sessions %>
</p>

<p>
  <b>Events:</b>
  <%= @schedule.events %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
