<h1>Listing attendees</h1>

<table>
  <tr>
    <th>User</th>
    <th>Conference</th>
    <th>Schedule</th>
    <th>Checkin</th>
    <th>Log</th>
    <th>Favorites</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attendees.each do |attendee| %>
  <tr>
    <td><%= attendee.user_id %></td>
    <td><%= attendee.conference_id %></td>
    <td><%= attendee.schedule_id %></td>
    <td><%= attendee.checkin %></td>
    <td><%= attendee.log %></td>
    <td><%= attendee.favorites %></td>
    <td><%= link_to 'Show', attendee %></td>
    <td><%= link_to 'Edit', edit_attendee_path(attendee) %></td>
    <td><%= link_to 'Destroy', attendee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attendee', new_attendee_path %>
