<%= form_for(@keynote) do |f| %>
  <% if @keynote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@keynote.errors.count, "error") %> prohibited this keynote from being saved:</h2>

      <ul>
      <% @keynote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :speaker_id %><br />
    <%= f.number_field :speaker_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
