<h1>Listing keynotes</h1>

<table>
  <tr>
    <th>Speaker</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @keynotes.each do |keynote| %>
  <tr>
    <td><%= keynote.speaker_id %></td>
    <td><%= link_to 'Show', keynote %></td>
    <td><%= link_to 'Edit', edit_keynote_path(keynote) %></td>
    <td><%= link_to 'Destroy', keynote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Keynote', new_keynote_path %>
