<h1>Listing events</h1>

<table>
  <tr>
    <th>Conference</th>
    <th>Title</th>
    <th>Local</th>
    <th>Notes</th>
    <th>Type</th>
    <th>Start</th>
    <th>End</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.conference_id %></td>
    <td><%= event.title %></td>
    <td><%= event.local %></td>
    <td><%= event.notes %></td>
    <td><%= event.type %></td>
    <td><%= event.start_at %></td>
    <td><%= event.end_at %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
