<p id="notice"><%= notice %></p>

<p>
  <b>Conference:</b>
  <%= @event.conference_id %>
</p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Local:</b>
  <%= @event.local %>
</p>

<p>
  <b>Notes:</b>
  <%= @event.notes %>
</p>

<p>
  <b>Start:</b>
  <%= @event.start_at %>
</p>

<p>
  <b>End:</b>
  <%= @event.end_at %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
