<h1>Listing org_members</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @org_members.each do |org_member| %>
  <tr>
    <td><%= org_member.first_name %></td>
    <td><%= org_member.last_name %></td>
    <td><%= org_member.email %></td>
    <td><%= org_member.password %></td>
    <td><%= link_to 'Show', org_member %></td>
    <td><%= link_to 'Edit', edit_org_member_path(org_member) %></td>
    <td><%= link_to 'Destroy', org_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Org member', new_org_member_path %>
