<% provide(:title, @org_member.name) %>
<div class="row">
  <aside class="span4">
	<section>
	  <h1>
		<%= gravatar_for @org_member %>
		<%= @org_member.name %>
	  </h1>
	</section>
  </aside>
</div>

<p>
  <b>First name:</b>
  <%= @org_member.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @org_member.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @org_member.email %>
</p>

<p>
  <b>Password:</b>
  <%= @org_member.password %>
</p>


<%= link_to 'Edit', edit_org_member_path(@org_member) %> |
<%= link_to 'Back', org_members_path %>
