<%= form_for(@coffee_break) do |f| %>
  <% if @coffee_break.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coffee_break.errors.count, "error") %> prohibited this coffee_break from being saved:</h2>

      <ul>
      <% @coffee_break.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
