<h1>Listing coffee_breaks</h1>

<table>
  <tr>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @coffee_breaks.each do |coffee_break| %>
  <tr>
    <td><%= coffee_break.notes %></td>
    <td><%= link_to 'Show', coffee_break %></td>
    <td><%= link_to 'Edit', edit_coffee_break_path(coffee_break) %></td>
    <td><%= link_to 'Destroy', coffee_break, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Coffee break', new_coffee_break_path %>
