<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @attendee.user_id %>
</p>

<p>
  <b>Conference:</b>
  <%= @attendee.conference_id %>
</p>

<p>
  <b>Schedule:</b>
  <%= @attendee.schedule_id %>
</p>

<p>
  <b>Checkin:</b>
  <%= @attendee.checkin %>
</p>

<p>
  <b>Log:</b>
  <%= @attendee.log %>
</p>

<p>
  <b>Favorites:</b>
  <%= @attendee.favorites %>
</p>


<%= link_to 'Edit', edit_attendee_path(@attendee) %> |
<%= link_to 'Back', attendees_path %>
