@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$confyBlue: #00ADEF;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 70px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
  margin-bottom: 5px;
  /*width: 200px;
  background: url('../images/logo.png') no-repeat;
  height: 100px;*/
}

nav {
  margin-top: 10px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


/* homepage */
#homebanner {
  h1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    color: $confyBlue;
    padding-left: 40px;
    text-align: left;
    font-size: 70pt;
    border-left: $confyBlue 2px solid;
    margin-bottom: 50px;
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}


/* dashboard */

dashboard{
  #dashheader{
    padding: 10px;
    h1{
      margin-bottom: 10px;
    }
  }

  .hero-unit {
    h1{
      font-family: 'Lato';
      font-style: normal;
      font-weight: 100;
      color: $confyBlue;
      font-size: 70pt;
      font-size: 70pt;
      margin-bottom: 50px;
      padding: 0;
    }
  }


}
/* conferences */
conference{
  info{
    margin-top: 30px;
    padding: 20px;
    .container{

    }
    .hero-unit{
      h1{
        text-align: left;
        font-size: 40px;
        margin: 20px 0px;
      }
      min-height: 300px;
    }
    .label{
      margin-right: 10px;
    }
    .options{
      text-align: right;
    }
    #firstcolumn, #secondcolumn{
      text-align: left;
      font-size: 10pt;
      width: 45%;
      height: 275px;
      overflow: hidden;
      text-overflow: ellipsis;

    }
    avatar{

    }

  }

}

.column{
  float: left;
  margin-left: 40px;
}

table {
  tr:nth-child(even)		{ background-color:#eee; }
  tr:nth-child(odd)		{ background-color:#fff; }
  th { border-bottom: 2px #333333 solid; }
  tr:last-child { border-bottom: 1px #333333 solid; }
  .option
  {
    ul li{
      display: block;
      margin: 5px;
    }
    }
}

session{
  .hero-unit{
    h1{
      font-size: 25px;
      text-align: left;
      margin-bottom: 10px;
    }
  }
}

.option
{
  display: block;
  margin: 5px;
}