<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @speaker.user_id %>
</p>

<p>
  <b>Presentation:</b>
  <%= @speaker.presentation_id %>
</p>


<%= link_to 'Edit', edit_speaker_path(@speaker) %> |
<%= link_to 'Back', speakers_path %>
