<!DOCTYPE html>
<html>
  <head>
   	<!--%= debug(params) if Rails.env.development? %-->
	<link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>

	<%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato:100,300', :media => 'all'%>
	<%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
	  	<% flash.each do |key, value| %>
		        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
		<% end %>
      <%= yield %>

      <%= render 'layouts/footer' %>
	  <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>